{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}


{% block title %}
    What do you expect the other player to return
{% endblock %}


{% block styles %}
<style>
.glyphicon-star.half {
  position: relative;
}
.glyphicon-star.half:before {
  position: relative;
  z-index: 9;
  width: 47%;
  display: block;
  overflow: hidden;
}
.glyphicon-star.half:after {
  content: '\e006';
  position: absolute;
  z-index: 8;
  color: #ffffff;
  top: 0;
  left: 0;
}
</style>
{% endblock %}


{% block content %}
<div id="first-div">
    <div class="row lead">
        <div class="col-md-12">
            {% formfield player.expect_other_player_to_return %}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <span class="pull-right">
                {% if reveal %}
                <button class="btn btn-primary btn-large btn-primary next-button" id="first">Next</button>
                {% else %}
                {% next_button %}
                {% endif %}
            </span>
        </div>
    </div>
</div>

{% if reveal %}
<div id="second-div" style="display: none;">
    <div class="row lead">
        <p>
            The returner <strong>Player B</strong> is:
            {% if returner_trustworthy %}
            <span class="text-success">
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
            </span>
            {% else %}
            <span class="text-warning">
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star half"></span>
            </span>

            {% endif %}
        </p>
        <div class="col-md-12">
            {% formfield player.expect_other_player_to_return_revealed %}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <span class="pull-right">{% next_button %}</span>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}


{% block scripts %}
<script type="text/javascript">
{% if reveal %}
$(document).ready(function(){
    $("#first").click(function(){
        $("#first-div").hide("fast");
        $("#second-div").show("fast");
        return false;
    });

});
{% endif %}
</script>
{% endblock %}




