
{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Game
  Portion
  of
  Experiment

{% endblock %}

{% block content %}
<div class="row lead">
    <p>
        We will now continue to the game portion of the experiment. You will
        play many rounds and be involved in different variations of a game
        where you are always paired with one other player.
    </p>
    <p>
        At the end of the experiment we will randomly select a round from this
        game to count for your payoffs. However much you earned in that
        randomly chosen round will be added to your $5 payoff.
    </p>
    <p>
        You will be paired with an anonymous partner. You will either play the
        part of Player A or Player B. The game works as follows:
    </p>
    <p>
        Player A is given $10 which they decide how to allocate between themselves and
        Player B. Player B starts off with $0 and receives triple (3X) the amount
        Player A decides to share with player B. Note that in this game,
        Player B can choose to return part or all of the money received from Player A.
    </p>
    <p>The following are some example scenarios:</p>
    <p>
        <strong>Example 1:</strong> Player A has $10 and player B has $0.
        Player A decides to give player B $5. Player B receives 3*$5 = $15.
        Player B can then chooses to return $5 of the $15. At the end of the
        round, player A gets $10 as payoff and Player B also gets $10 as payoff.
    </p>
    <p>
        Lastly, remember that the money involved is real and heavily impacts
        the payment for participants at the end. The allocation of the money
        involved is completely up to you.
    </p>
</p>

</div>

<hr>
<div class="row lead">
    <div class="col-md-12">
        {% next_button %}
    </div>
</div>

{% include "trust/includes/auto_trust_score.html" %}

{% endblock %}



