
{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Game
{% endblock %}

{% block content %}
<div class="row lead">
    <p>Now you will play some rounds of the game. You will be randomly assigned to Player A or Player B. You will play both sequentially and simultaneously.</p>
    <p><strong>Sequential Play:</strong> When you play sequentially Player A will decide then Player B sees Player A’s decision and makes their decision on how much to return. Then both participants learn of their payoffs.</p>
    <p><strong>Simultaneous Play:</strong> When you play simultaneously Player A will decide. While Player A is deciding Player B will simultaneously decide what percentage to return to Player A. Then both participants learn of their payoffs.</p>
</div>

<hr>
<div class="row lead">
    <div class="col-md-12">
        {% next_button %}
    </div>
</div>

{% if auto_type %}
<div class="row alert alert-warning text-center">
    <div class="col-md-12">
    <h4>Warning: <code>auto_type</code> enabled</h4>
    This is a demo session and the
    <strong class="text-info">trust_type</strong>
    of the players was automatically asigned.
</div></div>
{% endif %}

{% endblock %}



