{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Decide - You are Player B
{% endblock %}

{% block content %}
{% include "trust/includes/round_play_type.html" %}

<div class="row lead">
    <div class="col-md-12">
        {% formfield group.percentage_sent_back %}
    </div>
</div>
<div class="row lead">
    <div class="col-md-12">
        {% next_button %}
    </div>
</div>

{% include "trust/includes/auto_trust_score.html" %}

{% endblock %}



