{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Return Decide
{% endblock %}

{% block content %}
<div class="row lead">
    <div class="col-md-12">
        <p>the other player give to you <span class="text-info">{{return_max|c}}</span></p>
        <div class="form-group required">
            <label class="control-label" for="id_ammount_sent_back">{{form.ammount_sent_back.label}}</label>
            <div class="controls  field-ammount_sent_back">
                <div class="input-group slider" data-slider="">
                <input type="range" name="ammount_sent_back" required="" max="{{return_max}}" step="1" id="id_ammount_sent_back" min="0" class="form-control">
                <span class="input-group-addon" data-slider-value="" title="current value"></span>
            </div>
        </div>
    </div>
</div>
<div class="row lead">
    <div class="col-md-12">
        {% next_button %}
    </div>
</div>
{% endblock %}


