
{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Test of Understanding
{% endblock %}

{% block styles %}
<style>
div.input-inline input {
    display: inline;

}

li {
    margin-bottom: 30px;

}

</style>

{% endblock styles %}

{% block content %}
<div class="row lead">
    <p>Before we play, let us quiz you on your understanding.</p>
    <p>Remember: Player A is given $10 which they decide how to allocate between
        themselves and Player B. Player B starts off with $0 and receives triple (3X) the
        amount Player A decides to share with player B. </p>
    <p class="text-info">Kindly answer the following quiz questions.</p>

    <ul style="list-style-type: none">
        <li>
            <label>Q1: </label> {{form.tunderstanding_1.label}}
            {{form.tunderstanding_1}}
        </li>
        <li>
            <label>Q2: </label> {{form.tunderstanding_2.label}}
            {{form.tunderstanding_2}}
        </li>
        <li>
            <label>Q3: </label> {{form.tunderstanding_3a.label}}
            <div class="input-inline">
                <div>Player A {{form.tunderstanding_3a}}</div>
                <div>Player B {{form.tunderstanding_3b}}</div>
            </div>
        </li>
    </ul>
</div>

<hr>
<div class="row lead">
    <div class="col-md-12">
        {% next_button %}
    </div>
</div>

{% include "trust/includes/auto_trust_score.html" %}

{% endblock %}



