{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}


{% block title %}
    Survey Debrief
{% endblock %}


{% block styles %}
{% endblock %}


{% block content %}
<div>
<div class="row lead">
    <div class="col-md-12 center text-center">
        <p>Thank you for answering the survey portion of the experiment. The survey questions were
        all about pro-sociality, or voluntary behavior intended to benefit another.
        Wikipedia defines pro-social behavior as a social behavior that benefit[s] other people or
        society as a whole, such as helping, sharing, donating, co-operating, and volunteering.</p>
        <p>You all were scored on your pro-sociality based on your answers and the answers of
        others participating in the experiment. We will use this later.</p>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
        <span class="pull-right">{% next_button %}</span>
    </div>
</div>

</div>
{% endblock %}




